body {
  font-family: "Montserrat", sans-serif;
    width: 900px;
    margin: 40px auto;
    color: white;
    background-image: url(images/ep_naturalblack.png);
}

blockquote {
    font-size: 1em;
    line-height: 1.5em;
}

a:link {color: #5e97cf}
a:visited {color:#5d4acb}
a:hover, a:focus {color: #345611}
a:active {color: #458855}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

figure {
    height: 80vh;
}